.about-title{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.about-top{
    flex-direction: row;
    align-items: center;
}

@media (min-width:1024px){
    .about-top{
        display:flex;
    }
    .about-middle{
        display: flex;
    }
}

.about-top-p{
    flex:1;
    min-width: 25em;
}

.about-top-img{
    margin-left: 2em;
    flex:1;
    width: 10em;
    height: 40em;
    object-fit: cover;
}

.about-middle{
    flex-direction: row;
    margin-top: 2em;
}

@media (max-width:1024px){
    .about-middle{
        flex-direction: column;
    }
    .about-top-img{
        margin-left: 0;
    }

    .about-top .about-middle{
        font-size: 1.5rem;
    }

}
.about-middle-left{
    flex:1.4;
    display: flex;
    flex-direction: column;
}
.about-middle-img{
    width: 30em;
    object-fit: cover;
    margin-bottom: 8em;
}
.about-middle-right{
    flex:1;
    display: flex;
    flex-direction: column;
}
.about-middle-right-img{
    width: 30em;
    object-fit: cover;
    margin-bottom: 10em;
}
.about-middle-right-p1{
    margin-bottom: 5em;
}
.about-middle-right-p2{
    margin-top: 5em;
   
}


.about-bottom{
    margin-top: 8em;
    text-align: center;
}

/*
.footer{
    background-color: #C6AF92;
    height: 15em;
    display: flex;
    flex-direction: row;
    padding-left: 7em;
}
.f-logo{
    flex: 2;
}
.f-nav{
    color: white;
    flex: 1;
    line-height: 2em;
}

@media (max-width:60em){
    .about-top{
        flex-direction: column-reverse;
    }
}