@font-face {
	font-family: 'egostalight';
	font-weight: normal;
	font-style: normal;
	src: url('../font/egostalight-yz63y.ttf');
}

@font-face {
	font-family: 'meta';
	font-weight: normal;
	font-style: normal;
	src: url('../font/meta-normal.ttf');
}